.carousel-inner {
    height: 1000px;
    
}

.container .row {
    margin-top:100px;
}

.fotoprofil {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.deskripsi {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-indent: 40px;
}

.judul-deskripsi-atas {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 25px;
}

.judul-deskripsi {
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: bold;

}


.data-diri-kontak {
    margin-top:-15px
}


.data-diri {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.progress {
    width: 60%;
    margin-top: -10px;
}

.soft-skill {
    margin-top:-85px
}